{% extends 'Anmeldung/base2.html' %}
{% load i18n %}

{% block content %}
<div class="col-md-7">
  <!-- /.accordion -->


    {% for j in oben %}
            <h2>{{ j.headertext }}</h2>

            <p>{{ j.langtext|safe }}</p>
            {% if j.bild != '' %}
                <p><img src="{{ j.bild_thumb.url }}" /></p>
            {% endif %}
        {% endfor %}
  <div class="panel-group">

  <!--
    <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Anmeldung und weitere Infos zu Veranstaltungen<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {%  for h in events %}
                    <li><a href="{% url 'teilnehmer_neu' pk=h.pk %}">{{h.beginn|date:"d.m.Y"}}{% if h.beginn != h.ende%} - {{ h.ende|date:"d.m.Y" }}{% endif %} {% if h.beginn == h.ende%}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{%endif%}&emsp;&emsp;{{ h.bezeichnung }}</a></li>
                {% endfor %}
            </ul>
    </div>
-->

    {%  for h in events %}
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-title">
                <a class="panel-toggle" data-toggle="collapse" data-parent=".panel-group" href="#content{{ forloop.counter}}">
                  <span> &emsp;&emsp;
                      {{h.beginn|date:"d.m.Y"}}
                                {% if h.beginn != h.ende%} - {{ h.ende|date:"d.m.Y" }}{% endif %} {% if h.beginn == h.ende%}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{%endif%}&emsp;&emsp;{{ h.bezeichnung }}</span>
                </a>
              </div>
          </div>

          <div id="content{{forloop.counter}}" class="panel-collapse collapse">
              <div class="panel-body">

                  <p>{{ h.kurzbeschreibung|safe }}</p>

                  {% if h.oeffentlich  %}
                  <p>
                    <a href="{% url 'teilnehmer_neu' pk=h.pk %}" class="btn btn-default">{% trans 'Zur Anmeldung' %}</a>
                  </p>
                  {%  endif %}
              </div>

          </div>

      </div>
    {% endfor %}

        {% for j in unten %}
            <h3>{{ j.headertext }}</h3>
            <p> {{ j.langtext|safe }}</p>
            {% if j.bild != ''  %}
            <!-- Nur ein Test -->
                <img src="{{ j.bild_thumb.url }}" /> </br>
            {% endif %}
        {% endfor %}


  </div>
</div>
<div class="col-md-5">
  {% for h in rechts %}
            <h3>{{ h.headertext }}</h3>
            <p> {{ h.langtext|safe }}</p>
            {% if h.bild != ''  %}
                <img src="{{ h.bild_thumb.url }}" /> </br>
            {% endif %}
  {% endfor %}
</div>
<!-- /.column -->
{% endblock %}
