{% extends 'Anmeldung/base.html' %}

{% block content %}
    <h1>Anmeldung für {{  event.bezeichnung}}</h1>
    <h3> {{ event.beginn}} bis {{ event.ende }} </h3>

      <p> {{ event.beschreibung|safe }}</p>
    
    <form class="form-horizontal" method="POST">{% csrf_token %}
    </br>
      <table class="table table-condensed">
        {{ form.as_table }}
      </table>
    </br>
        <button type="submit" class="save btn btn-default">Verbindlich anmelden</button>
    </form>

{% endblock %}
